:root {
  font-size: 62.5%;
}

::placeholder {
  color: var(--gray);
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-size: 1.6rem;
}

button, a {
  cursor: pointer;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--black);
}

ul {
  list-style:none;
}

img {
  max-width: 100%;
}

.info p,
section p
 {
  font-size: 1.4rem;
}
