@media screen and (max-width: 767px) {

  .container {
    margin: 0;
  }
  
  .nav {
    position: relative;
    display: block;
    padding-bottom: 4rem;
  }

  .logo img {
    padding-left: 1.5rem;
  }

  .nav ul {
    margin-top: 2.5rem;
    justify-content: space-around;
  }

  .nav li:last-child {
    position: absolute;
    top: 7rem;
    right: 0;
  }

  .nav-link:nth-child(1),
  .nav-link:nth-child(2) {
    border-top: none;
    border-bottom: 2px solid var(--gray-light);
  }

  .nav-link:hover {
    border-top: none;
    border-bottom: 2px solid var(--blue);
  }

  .nav-link {
    padding: 1rem 5rem;
  }

  .register-link {
    margin: unset;
  }

  /* Search section */

  .search {
    padding: 0 2rem;
  }

  .search h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .search .location {
    font-size: 1.45rem;
  }

  .search-form {
    margin-bottom: 1.5rem;
    padding-bottom: unset;
  }

  .search-form i:last-child {
    margin-right: 2rem;
    border-radius: 1.5rem;
    color: #fff;
    background: var(--blue);
  }

  .search-form input {
    max-width: 21rem;
  }

  .search-button {
    display: none;
  }

  .search-icon {
    display: inline-block;
  }

  .info .icon {
    align-self: flex-start;
  }

  .info p {
    font-size: 1.4rem;
  }

  /* MAIN */

  .accommodation-container {
    flex-direction: column;
  }

  /* Accommodation */

  .accommodation {
    background: var(--white);
  }

  .accommodation h2 {
    padding: 3rem 0rem 2rem 2rem;
  }

  .accommodation-cards {
    grid-template-columns: 1fr;
  }

  .accommodation-card-item {
    width: auto;
    padding: 0.5rem;
  }

  .accommodation-card-item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
  }

  .accommodation-card-item img {
    width: 100%;
    height: 13rem;
    padding: 0; 
  }

  .accommodation-card-item-sub-content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 1rem 0 1rem 1rem;
  }

  .accommodation-card-item .card-title {
    font-size: 1.6rem;
    padding-bottom: 1rem;
  }

  .show-more {
    padding: 2rem;
  }

  /* Popularity */

  .popularity {
    order: -1;
    border-radius: 0;
  }

  .popularity-header {
    padding: 5rem 2rem 2rem 2rem;
  }

  .popularity-cards {
    width: 95%;
    padding: 0 4%;
    margin-bottom: 5rem;
  }

  /* Activities */

  .activities {
    padding: 0 4%;
  }

  .activities h2 {
    margin-top: 0;
  }

  .activities-cards {
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }

  .activities a {
    height: 22.3rem;
    margin-bottom: 1rem;
  }

  .activities-card-item {
    height: 23.5rem; 
  }

  .activities a:nth-child(1) img, 
  .activities a:nth-child(4) img {
    height: 17.6rem;
  }

  /* FOOTER */

  .footer {
    flex-direction: column;
    margin-top: 3rem;
    padding: 0 4% 12% 4%;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
    .filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
      "filter-title ."
      "economic familial"
      "romantic ."
      "animals animals";
      row-gap: 0.15rem;
  }

  .filter-title {
    grid-area: filter-title;
  }

  .economic {
    grid-area: economic;
  }

  .familial {
    grid-area: familial;
  }

  .romantic {
    grid-area: romantic;
  }

  .animals {
    grid-area: animals;
  }

  .filters h2 {
    margin-right: 0;
  }

  .filters .filter-link {
    padding: 0 2rem 0 0;
    border-radius: 3rem;
    margin-right: 0;
    margin-bottom: 0;
  }

  .filters .familial {
    max-width: 12.8rem;
  }

  .filters .animals {
    width: 19.7rem;
  }

  .filter-link i {
    min-width: 4.3rem;
    min-height: 4.3rem;
    font-size: 1.6rem;
    border-radius: 50%;
    color: var(--blue);
    background: var(--blue-light);
  }

  .filters button span {
    min-width: 4.3rem;
    min-height: 4.3rem;
    font-size: 1.4rem;
  }
}