.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5%;
}

/* HEADER */

/* Navigation */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5rem 0;
}

.nav ul {
  display: flex;
}

.nav-link,
.register-link {
  padding: 6.3rem 3rem 0 3rem;
  border-top: 2px solid transparent;
}

.nav-link:hover {
  color: var(--blue);
  border-top: 2px solid var(--blue);
}

.register-link {
  opacity: 0.8;
  font-weight: bold;
  color: var(--blue);
}

.register-link:hover {
  border-top: 2px solid transparent;
}

/* Search section */

.search h1 {
  padding-bottom: 0.6rem;
  font-size: 2rem;
}

.search .location {
  padding-bottom: 1.6rem;
}

/* search section form */

.search-form {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-bottom: 3rem;
}

.search-form i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  min-width: 4.6rem;
  min-height: 4.6rem;
  border-radius: 1.5rem 0 0 1.5rem;
  background: var(--gray-light);
}

.search-form input {
  height: 4.6rem;
  font-weight: bold;
  padding-left: 1.2rem;
  border-left: 0;
  border-right: 0;
  border-top: 0.1rem solid var(--gray-light);
  border-bottom: 0.1rem solid var(--gray-light);
}

.search-form input:focus {
  outline: var(--gray-light) solid 1px;
}

.search-form button {
  padding: 0 1.6rem;
  height: 4.6rem;
  font-weight: bold;
  border: none;
  border-radius: 0 1.5rem 1.5rem 0;
  color: var(--white);
  background: var(--blue);
}

.search-icon {
  display: none;
}

/* search section filters */

.filters {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-bottom: 3rem;
}

.filters h2 {
  padding-right: 3rem;
}

.filters .filter-link {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 2rem 0 0;
  border-radius: 3rem;
  border: 2px solid var(--gray-light);
  font-weight: bold;
  margin-right: 2.2rem;
  background-color: var(--white);
}

.filters .filter-link:hover {
  background-color: var(--gray-light);
}

.filter-link i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.6rem;
  height: 4.6rem;
  border-radius: 50%;
  color: var(--blue);
  background: var(--blue-light);
}

.filters button span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1.2rem;
  min-width: 4.6rem;
  height: 4.6rem;
}

/* info */

.info {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  padding-bottom: 3rem;
}

.info .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: 2px solid var(--gray-light);
  color: var(--blue);
  border-radius: 50%;
}

.info p {
  padding-left: 1rem;
}

/* MAIN */

.accommodation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Accommodation section */

.accommodation {
  flex-basis: 65%;
  background: var(--gray-light);
  border-radius: 1.5rem;
}

.accommodation h2 {
  font-size: 2rem;
  padding: 3rem 2rem 2rem 3rem;
}

.accommodation-cards {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr );
  grid-template-rows: auto;
  grid-gap: 30px;
}

.accommodation-cards a {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0px 0px 10px var(--shadow);
  background: var(--white);
  border-radius: 1.5rem;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
}

.accommodation-cards a:hover {
  transform: scale(1.01);
}

.accommodation-card-item img {
  height: 11.4rem;
  object-fit: cover;
  border-radius: 1.5rem 1.5rem 0 0;
}

.accommodation-card-item-sub-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 90px;
  padding: 10px 0 0 15px;
}

.accommodation-card-item .rating {
  color: var(--gray);
}

.accommodation-card-item .fa-star--activate {
  color: var(--blue);
}

.show-more {
  padding: 4rem 2rem 4rem 3.5rem;
  border: none;
  background: none;
  font-size: 1.8rem;
  font-weight: bold;
}

/* Popularity section */

.popularity {
  flex-basis: 32%;
  background: var(--gray-light);
  border-radius: 1.5rem;
}

.popularity-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 4.5rem 2rem 3rem;
}

.popularity-header h2 {
  font-size: 2rem;
}

.popularity-header i {
  font-size: 2rem;
}

.popularity-cards {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 40px;
}

.popularity-card-item {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  box-shadow: 0px 0px 10px var(--shadow);
  background: var(--white);
  border-radius: 1.5rem;
  padding: 0.5rem;
}

.popularity-cards a:hover {
  transform: scale(1.01);
}

.popularity-card-item img {
  min-width: 35%;
  max-width: 35%;
  height: 13rem;
  object-fit: cover;
  border-radius: 1.5rem 0 0 1.5rem;
}

.popularity-card-item-sub-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0 1rem 2rem;
}

.popularity-card-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popularity-card-description .card-title{
  padding-bottom: 1rem;
}

.popularity-card-item .rating {
  color: var(--gray);
}

.popularity-card-item .fa-star--activate {
  color: var(--blue);
}

/* Activities section */

.activities h2 {
  font-size: 2rem;
  padding: 30px 0 30px 0;
  margin-top: 3rem;
}

.activities-cards {
  /* margin: 0 auto; */
  display: grid;
  grid-template-columns: repeat(4, 1fr );
  /* grid-template-rows: repeat(2, 1fr); */
  grid-template-rows: auto;
  grid-gap: 40px;
}

.activities-card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 10px var(--shadow);
}  

.activities-card-item,
.activities-card-item a,
.activities a:nth-child(1) img,
.activities a:nth-child(4) img
{
  height: 100%;
}

.activities-card-item:hover {
  transform: scale(1.01);
}

.activities a:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.activities a:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2; 
}

.activities a:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.activities a:nth-child(4) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.activities a:nth-child(5) {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.activities a:nth-child(6) {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.activities-card-item img {
  width: 100%; 
  height: 17.6rem;
  object-fit: cover;
  border-radius: 1.5rem 1.5rem 0 0;
} 

.activities-cards h3 {
  padding: 20px;
  border-radius: 0 0 1.5rem 1.5rem;
  box-shadow: 0px 0px 10px #a1a1a1;
} 

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  background: var(--gray-light);
  margin-top: 6rem;
  padding-right: 20rem;
  height: 21.8rem;
}

.footer-item h3 {
  font-size: 1.8rem;
  padding-top: 5rem;
}

.footer-item li {
  padding-top: 1.6rem;
}
