@media screen and (max-width: 1000px) {

  .search-form {
    padding-bottom: 0;
}
  .filters {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
      "filter-title . "
      "economic familial" 
      "romantic animals";
      row-gap: 0.15rem;
  }

  .filter-title {
    grid-area: filter-title;
  }

  .economic {
    grid-area: economic;
  }

  .familial {
    grid-area: familial;
  }

  .romantic {
    grid-area: romantic;
  }

  .animals {
    grid-area: animals;
  }

  .filters .filter-link {
    margin-bottom: 2.2rem;
    justify-self: start;
  }

  .footer {
    justify-content: space-around;
    padding-right: 0;
  }

}

@media screen and (min-width: 768px) and (max-width: 1200px){

  /* MAIN */

  .accommodation-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 3rem;
  }

  .accommodation {
    grid-row: 2 / 3;
  }

  .popularity {
    grid-row: 1 / 2;
  }

  .popularity-cards {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 5rem; 
  }

  .popularity-card-item {
    flex-direction: column;
    flex-flow: wrap;
  }

  .popularity-card-item img {
    width: 100%;
    min-width: 100%;
    max-width: 0;
    border-radius: 1.5rem 1.5rem 0 0;
  }

  .popularity-card-item-sub-content {
    align-content: space-around;
    padding: 0 0 0 2rem;
  }  

  .popularity-card-description .card-title{
    padding-bottom: 0;
  }
    

  .activities-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .activities a:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .activities a:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2; 
  }

  .activities a:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .activities a:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .activities a:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .activities a:nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  } 

  .activities-card-item {
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }

  .activities-card-item img,
  .activities-card-item a {
    height: 22rem;
  }

  .activities-card-item h3 {
    padding: 20px;
    flex: 1;
  } 
}